html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    height: 100vh;
    display: flex;
    background-color: green;
    flex-direction: column;
}

header {
    flex: 0 0 10vh;
    height: 10vh;

    min-height: 60px;
    max-height: 120px;
    background: #972ea5;
    color: #fff;
}

main {
    flex: 1 1 80%;
    display: flex;
    flex-direction: row;
    height: 80vh;
    min-height: 0;
}

.article-container {
    flex: 1 1 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    height: 100%;
    background: #e0e0e0;
}

.articles {
    flex: 1 1 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px 0;
    background: #d32f2f;
    color: #fff;
}

aside {
    flex: 0 0 10vw;
    width: 10vw;
    min-width: 60px;
    max-width: 120px;
    height: 100%;
    background:blue;
}

footer {
    flex: 0 0 10vh;
    height: 10vh;
    min-height: 60px;
    max-height: 120px;
    background: orange;
    color: #222;
}

@media (max-width: 600px) {
    main {
        flex-direction: column;
        height: 80vh;
    }
    .article-container {
        width: 100%;
        height: 80%;
    }
    aside {
        width: 100%;
        height: 10vh;
        min-width: unset;
        max-width: unset;
        min-height: 40px;
        max-height: 120px;
    }
}